.feed-item {
  position: relative;
  min-height:42px;
  padding: 0;
  margin: 0;
  padding-top: 15px;
  padding-left: 40px;
  margin-left: 20px;
  border-left: 2px solid #DDD;
}

.feed-item .feed-icon {
  position: absolute;
  top: 0px;
  left: -20px;
  width: 40px;
  height: 40px;
  color: #FFF;
  text-align: center;
  font-size: 10px;
  line-height: 34px;
  background-color: #f0ad4e;
  border: 3px solid #FFF;
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35);
}
.feed-item-idea .feed-icon {
  background-color: #f0ad4e;
}
.feed-item-image .feed-icon {
  background-color: #888888;
}
.feed-item-file .feed-icon {
  background-color: #e5412d;
}
.feed-item-bookmark .feed-icon {
  background-color: #555;
}
.feed-item-question .feed-icon {
  background-color: #428bca;
}