div.timeline-frame {
    border: 2px solid #DDD;
    background-color: #e9e9e9;
    overflow: hidden;
}

div.timeline-axis {
    border-color: #ccc;
    border-width: 1px;
    border-top-style: solid;
}
div.timeline-axis-grid {
    border-left-style: solid;
    border-width: 1px;
    -webkit-box-shadow: 1px 0 0 rgba(255,255,255,0.5);
    -moz-box-shadow: 1px 0 0 rgba(255,255,255,0.5);
    box-shadow: 1px 0 0 rgba(255,255,255,0.5);
}
div.timeline-axis-grid-minor {
    border-color: rgba(204,204,204,0.5);
}
div.timeline-axis-grid-major {
    border-color: #bfbfbf;
}
div.timeline-axis-text {
    color: #4D4D4D;
    padding: 1px;
    white-space: nowrap;
}

div.timeline-axis-text-minor {
    font-size: 10px;
}

div.timeline-axis-text-major {
    font-size: 12px;
}

div.timeline-event {
    font-size: 12px;
    padding: 3px;
    color: #1A1A1A;
    border-color: #ccc;
    -webkit-box-shadow: 1px 0 0 rgba(255,255,255,0.5);
    -moz-box-shadow: 1px 0 0 rgba(255,255,255,0.5);
    box-shadow: 1px 0 0 rgba(255,255,255,0.5);
    background-color: #EFEFEF;
    display: inline-block;
}

div.timeline-event-selected {
    background-color: #FFFFFF;
    z-index: 999;
}

div.timeline-event-cluster {
    /* TODO: use another color or pattern? */
    background: #97B0F8 url('img/cluster_bg.png');
    color: white;
}
div.timeline-event-cluster div.timeline-event-dot {
    border-color: #D5DDF6;
}

div.timeline-event-box {
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    -moz-border-radius: 5px; /* For Firefox 3.6 and older */
}

div.timeline-event-dot {
    border-style: solid;
    border-width: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;  /* For Firefox 3.6 and older */
}

div.timeline-event-range {
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    -moz-border-radius: 2px;  /* For Firefox 3.6 and older */
}

div.timeline-event-range-drag-left {
    cursor: w-resize;
    z-index: 1000;
}

div.timeline-event-range-drag-right {
    cursor: e-resize;
    z-index: 1000;
}

div.timeline-event-line {
    border-left-width: 1px;
    border-left-style: solid;
}

div.timeline-event-content {
    white-space: nowrap;
    overflow: hidden;
}

div.timeline-groups-axis {
    border-color: #BEBEBE;
    border-width: 1px;
}

div.timeline-groups-axis-onleft {
    border-style: none solid none none;
}

div.timeline-groups-axis-onright {
    border-style: none none none solid;
}

div.timeline-groups-text {
    color: #4D4D4D;
    padding-left: 10px;
    padding-right: 10px;
}

div.timeline-currenttime {
    background-color: #FF7F6E;
    width: 2px;
}

div.timeline-customtime {
    background-color: #6E94FF;
    width: 2px;
    cursor: move;
}

div.timeline-navigation {
    font-family: arial;
    font-size: 20px;
    font-weight: bold;
    color: gray;

    border: 1px solid #BEBEBE;
    background-color: #F5F5F5;
    border-radius: 2px;
    -moz-border-radius: 2px;  /* For Firefox 3.6 and older */
}

div.timeline-navigation-new, div.timeline-navigation-delete,
div.timeline-navigation-zoom-in,  div.timeline-navigation-zoom-out,
div.timeline-navigation-move-left, div.timeline-navigation-move-right {
    cursor: pointer;
    padding: 10px 10px;
    float: left;
    text-decoration: none;
    border-color: #BEBEBE; /* border is used for the separator between new and navigation buttons */

    width: 16px;
    height: 16px;
}

div.timeline-navigation-new {
    background: url('img/16/new.png') no-repeat center;
}

div.timeline-navigation-new-line {
    border-right: solid 1px;
}

div.timeline-navigation-delete {
    padding: 0px;
    padding-left: 5px;
    background: url('img/16/delete.png') no-repeat center;
}

div.timeline-navigation-zoom-in {
    background: url('img/16/zoomin.png') no-repeat center;
}

div.timeline-navigation-zoom-out {
    background: url('img/16/zoomout.png') no-repeat center;
}

div.timeline-navigation-move-left {
    background: url('img/16/moveleft.png') no-repeat center;
}

div.timeline-navigation-move-right {
    background: url('img/16/moveright.png') no-repeat center;
}
