@(title: String)(user: User)(content: Html)(flag: String) @main(title){@styles()}{
@navbar(user)
<div class="container">
	<div class="page-content">
		<div class="row">
			<div class="col-xs-12">
				<div class="page-header">
					<h1>Inbox</h1>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="tabbable">
							<ul id="inbox-tabs"
								class="inbox-tabs nav nav-tabs padding-16 tab-size-bigger tab-space-1">
								
								<li @if(flag.equals("inbox")){class="active"}><a href="@routes.Application.inbox"
									data-target="inbox"> <i class="blue icon-inbox bigger-130"></i>
										<span class="bigger-110">Inbox</span>
								</a></li>

								<li @if(flag.equals("sent")){class="active"}><a href="@routes.Application.sent" data-target="sent">
										<i class="orange icon-location-arrow bigger-130 "></i> <span
										class="bigger-110">Sent</span>
								</a></li>
							</ul>

							<div class="tab-content no-border no-padding">
								<div class="tab-pane in active">
									<div class="message-container">
										<div id="id-message-list-navbar"
											class="message-navbar align-center clearfix">
											<div class="message-bar">
												<div class="message-infobar" id="id-message-infobar">
													<span class="blue bigger-150">Inbox</span> <span
														class="grey bigger-110"></span>
												</div>


											</div>
										</div>
										@content
										<!-- /.message-container -->
									</div>
									<!-- /.tab-pane -->
								</div>
								<!-- /.tab-content -->
							</div>
							<!-- /.tabbable -->
						</div>
						<!-- /.col -->
					</div>

				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.page-content -->
	</div>
	<!-- /.main-container-inner -->
</div>
}
