@(message: Message)(flag: String)(messageForm: Form[Message])
<div class="message-content" id="id-message-content">
	<div class="message-header clearfix">
		<div class="pull-left">
			<!-- 			<a href="@routes.Application.@flag" class="btn-back-message-list"> <i
				class="icon-arrow-left blue bigger-110 middle"></i> <b
				class="bigger-110 middle">Back</b>
			</a> -->
			<div class="space-4"></div>

			<img class="middle" alt="John's Avatar"
				src="@routes.Profile.renderPhoto(message.sender.profilePicture.id)"
				width="32"> &nbsp; <a href="#" class="sender">@message.sender.userName</a>
			&nbsp; <i class="icon-time bigger-110 orange middle"></i> <span
				class="time">@message.date.format("hh:mm:ss MM/dd/yyyy")</span>
		</div>
	</div>

	<div class="hr hr-double"></div>

	<div class="slimScrollDiv"
		style="position: relative; overflow: hidden; width: auto; height: 200px;">
		<div class="message-body"
			style="overflow: hidden; width: auto; height: 200px;">
			@message.message</div>
		<div class="slimScrollBar ui-draggable"
			style="background-color: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; z-index: 99; right: 1px; height: 200px; background-position: initial initial; background-repeat: initial initial;"></div>
		<div class="slimScrollRail"
			style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; background-color: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px; background-position: initial initial; background-repeat: initial initial;"></div>
	</div>
	<div class="hr hr-double"></div>
	@if(flag.equals("inbox")){ 
	@helper.form(routes.Profile.sendMessage("inbox")) {
	<label class="control-label">Reply:</label>
	<div class="controls">
	<input type="hidden" name="receiverId" value="@message.sender.id">
		<textarea class="form-control" name="message" required></textarea>
	</div>
	<p></p>
	<button type="submit" class="btn btn-primary">Send</button>
	}}
</div>
<!-- /.message-list-container -->


