@(messages: List[Message])
<div class="message-list-container">
	<div class="message-list" id="message-list">
		@for(message <- messages){
		<div class="message-item">
			<span class="sender">@message.receiver.userName</span> <span
				class="time" style="width: 120px;">@message.date.format("hh:mm:ss MM/dd/yyyy")</span> <span class="summary"><a href="@routes.Application.showMessage("sent", message.id)"> <span
					class="text">@if(message.message.length > 50){@message.message.substring(0, 50) ...} else{@message.message}</span>
			</a> </span>
		</div>
		}
	</div>

</div>
<!-- /.message-list-container -->
</div>
<!-- /.message-container -->
