@(title: String)(user: User)(trip: Trip)
@tripDetails(title)(user)(trip)("calendar"){
<link rel="stylesheet" type="text/css"
	href="http://arshaw.com/js/fullcalendar-1.6.4/fullcalendar/fullcalendar.css">
<script type="text/javascript"
	src="http://arshaw.com/js/fullcalendar-1.6.4/fullcalendar/fullcalendar.min.js"></script>
<div id='calendar'></div>
<script type="text/javascript">
	$(document).ready(function() {
		$('#calendar').fullCalendar({
			header : {
				left : 'prev,next today',
				center : 'title',
				right : 'month,agendaWeek,agendaDay'
			},
			editable : true,
			events : [@for(dest <- trip.destinations){ {
				title : '@dest.location',
				start : new Date(@dest.dateStart.getTime()),
				end : new Date(@dest.dateEnd.getTime())
			},@for(activity <- dest.activities){{
				title : '@activity.location',
				start : new Date(@activity.date.getTime()),
			},}} ]
		});
	});
</script>
}
