@(title: String)(user: User)(dest: Destination)(activity:
Activity)(activityForm: Form[Activity])
@tripDetails(title)(user)(dest.trip)("timeline"){
<link rel="stylesheet"
	href="http://eternicode.github.io/bootstrap-datepicker/bootstrap-datepicker/css/datepicker.css">
<link rel="stylesheet"
	href="http://192.69.216.111/themes/preview/ace/assets/css/bootstrap-timepicker.css">
<div class="row">
	<h3>
		Edit activity <a class="btn btn-danger btn-minier"
			href="@routes.TripController.deleteActivity(activity.id)"> <i
			class="icon-trash align-top"></i> Delete activity
		</a>
	</h3>
	<div class="col-sm-5">
		@helper.form(routes.TripController.updateActivity(activity.id)) {
		@if(activityForm.hasGlobalErrors) {
		<p class="text-error">@activityForm.globalError.message</p>
		}
		<div class="form-group">
			<label class="control-label">Description</label>
			<div class="controls">
				<input type="text" class="form-control" name="description"
					value="@activity.description" required>
			</div>
			<label class="control-label">Location</label>
			<div class="controls">
				<input id="geocomplete" type="text" class="form-control"
					name="location" autocomplete="off" value="@activity.location"
					required />
			</div>
			<label class="control-label">Date</label>
			<div class="controls">
				<div class="input-group">
					<input name="date" class="form-control date-picker"
						id="id-date-picker-1" type="text" data-date-format="dd-mm-yyyy"
						value="@activity.date.format(" yyyy-MM-dd")" required> <span
						class="input-group-addon"> <i
						class="icon-calendar bigger-110"></i>
					</span>
				</div>
			</div>
		</div>
		<p></p>
		<a href="@routes.TripController.tripDetails(dest.trip.id)"
			type="button" class="btn btn-default">Back</a>
		<button type="submit" class="btn btn-primary">Update</button>
		}
	</div>
</div>
<script type="text/javascript"
	src="https://maps.google.com/maps/api/js?sensor=false&amp;libraries=places""></script>
<script
	src="http://eternicode.github.io/bootstrap-datepicker/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script
	src="http://192.69.216.111/themes/preview/ace/assets/js/date-time/bootstrap-timepicker.min.js"></script>
<script src="http://ubilabs.github.io/geocomplete/jquery.geocomplete.js"></script>
<script type="text/javascript">
	jQuery(function($) {
		$('.date-picker').datepicker({
			format : "yyyy-mm-dd",
			autoclose : true
		});
		$('.timepicker').timepicker({
			minuteStep : 1,
			showMeridian : false,
		}).next().on(ace.click_event, function() {
			$(this).prev().focus();
		});
		$('.timepicker').val("");
		$("#geocomplete").geocomplete();
	});
</script>
}
