@(title: String)(user: User)(trip: Trip)(tripForm:
Form[Trip]) @tripDetails(title)(user)(trip)("timeline"){
<link rel="stylesheet"
	href="http://eternicode.github.io/bootstrap-datepicker/bootstrap-datepicker/css/datepicker.css">
<link rel="stylesheet"
	href="http://192.69.216.111/themes/preview/ace/assets/css/bootstrap-timepicker.css">
<div class="row">
	<h3>
		Edit trip <a class="btn btn-danger btn-minier"
			href="@routes.TripController.deleteTrip(trip.id)"> <i
			class="icon-trash align-top"></i> Delete trip
		</a>
	</h3>
	<div class="col-sm-5">
		@helper.form(routes.TripController.updateTrip(trip.id)) {
		@if(tripForm.hasGlobalErrors) {
		<p class="text-error">@tripForm.globalError.message</p>
		}
		<div class="form-group">
			<label class="control-label">Trip name</label>
			<div class="controls">
				<input type="text" class="form-control" name="name" value="@trip.name" required>
			</div>
			<label class="control-label">Description</label>
			<div class="controls">
				<textarea class="form-control" name="description">@trip.description</textarea>
			</div>
			<label class="control-label">Tags</label>
			<div class="controls">
				<input name="tagsy" type="text" class="form-control"
					data-role="tagsinput" value="@trip.getTags()"/>
			</div>
			<div class="control-group">
				<div class="radio">
					<label> <input type="radio" class="ace"
						name="visibility" value="public" @if(trip.visibility.equals("public")){checked}> <span class="lbl">
							Public trip <small>Everyone can see it</small>
					</span>
					</label>
				</div>

				<div class="radio">
					<label> <input type="radio" class="ace" name="visibility"
						value="forFriends" @if(trip.visibility.equals("forFriends")){checked}> <span class="lbl"> Visible only
							for friends</span>
					</label>
				</div>

				<div class="radio">
					<label> <input type="radio" class="ace" name="visibility"
						value="private" @if(trip.visibility.equals("private")){checked}> <span class="lbl"> Private trip <small>Visible
								only for people you invite to this trip</small>
					</span>
					</label>
				</div>
			</div>
			<a href="@routes.TripController.tripDetails(trip.id)"
				type="button" class="btn btn-default">Back</a>
			<button type="submit" class="btn btn-primary">Update</button>
		</div>
		}
	</div>
</div>
<script type="text/javascript"
	src="https://maps.google.com/maps/api/js?sensor=false&amp;libraries=places""></script>
<script
	src="http://eternicode.github.io/bootstrap-datepicker/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script
	src="http://192.69.216.111/themes/preview/ace/assets/js/date-time/bootstrap-timepicker.min.js"></script>
<script src="http://ubilabs.github.io/geocomplete/jquery.geocomplete.js"></script>
<script type="text/javascript">
	jQuery(function($) {
		$('.input-daterange').datepicker({
			autoclose : true,
			format : 'yyyy-mm-dd'
		});
		$("#geocomplete").geocomplete();
	});
</script>
}
