@(title: String)(user: User)(dest: Destination)(destinationForm:
Form[Destination]) @tripDetails(title)(user)(dest.trip)("timeline"){
<link rel="stylesheet"
	href="http://eternicode.github.io/bootstrap-datepicker/bootstrap-datepicker/css/datepicker.css">
<link rel="stylesheet"
	href="http://192.69.216.111/themes/preview/ace/assets/css/bootstrap-timepicker.css">
<div class="row">
	<h3>
		Edit destination <a class="btn btn-danger btn-minier"
			href="@routes.TripController.deleteDestination(dest.id)"> <i
			class="icon-trash align-top"></i> Delete destination
		</a>
	</h3>
	<div class="col-sm-5">
		@helper.form(routes.TripController.updateDestination(dest.id)) {
		@if(destinationForm.hasGlobalErrors) {
		<p class="text-error">@destinationForm.globalError.message</p>
		}
		<div class="form-group">
			<label class="control-label">Location</label>
			<div class="controls">
				<input id="geocomplete" type="text" class="form-control"
					name="location" autocomplete="off" value="@dest.location" required />
			</div>
			<div class="input-daterange" id="datepicker">
				<label class="control-label">Start date</label>
				<div class="controls">
					<input type="text" class="datepicker" name="dateStart" value="@dest.dateStart.format("yyyy-MM-dd")" required />
				</div>
				<label class="control-label">End date</label>
				<div class="controls">
					<input type="text" class="datepicker" name="dateEnd" value="@dest.dateEnd.format("yyyy-MM-dd")" required />
				</div>
			</div>
		</div>
		<a href="@routes.TripController.tripDetails(dest.trip.id)" type="button"
			class="btn btn-default">Back</a>
		<button type="submit" class="btn btn-primary">Update</button>
		}
	</div>
</div>
<script type="text/javascript"
	src="https://maps.google.com/maps/api/js?sensor=false&amp;libraries=places""></script>
<script
	src="http://eternicode.github.io/bootstrap-datepicker/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script
	src="http://192.69.216.111/themes/preview/ace/assets/js/date-time/bootstrap-timepicker.min.js"></script>
<script src="http://ubilabs.github.io/geocomplete/jquery.geocomplete.js"></script>
<script type="text/javascript">
	jQuery(function($) {
		$('.input-daterange').datepicker({
			autoclose : true,
			format : 'yyyy-mm-dd'
		});
		$("#geocomplete").geocomplete();
	});
</script>
}
