@(title: String)(user: User)(trip: Trip)(destinationForm:
Form[Destination]) @tripDetails(title)(user)(trip)("timeline"){
<link rel="stylesheet"
	href="http://eternicode.github.io/bootstrap-datepicker/bootstrap-datepicker/css/datepicker.css">
<link rel="stylesheet"
	href="http://192.69.216.111/themes/preview/ace/assets/css/bootstrap-timepicker.css">
<div class="row">
	<h3>Add new destination in @trip.name</h3>
	<div class="col-sm-5">
		@helper.form(routes.TripController.newDestination(trip.id)) {
		@if(destinationForm.hasGlobalErrors) {
		<p class="text-error">@destinationForm.globalError.message</p>
		}
		<div class="form-group">
			<label class="control-label">Location</label>
			<div class="controls">
				<input id="geocomplete" type="text" class="form-control"
					name="location" autocomplete="off" required />
			</div>
			<div class="input-daterange" id="datepicker">
				<label class="control-label">Start date</label>
				<div class="controls">
					<input type="text" class="datepicker" name="dateStart" required />
				</div>
				<label class="control-label">End date</label>
				<div class="controls">
					<input type="text" class="datepicker" name="dateEnd" required />
				</div>
			</div>
		</div>
		<a href="@routes.TripController.tripDetails(trip.id)"
			type="button" class="btn btn-default">Back</a>
		<button type="submit" class="btn btn-primary">Add</button>
		}
	</div>
</div>
<script type="text/javascript"
	src="https://maps.google.com/maps/api/js?sensor=false&amp;libraries=places""></script>
<script
	src="http://eternicode.github.io/bootstrap-datepicker/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script
	src="http://192.69.216.111/themes/preview/ace/assets/js/date-time/bootstrap-timepicker.min.js"></script>
<script src="http://ubilabs.github.io/geocomplete/jquery.geocomplete.js"></script>
<script type="text/javascript">
	jQuery(function($) {
		$('.input-daterange').datepicker({
			autoclose : true,
			format : 'yyyy-mm-dd'
		});
		$("#geocomplete").geocomplete();
	});
</script>
}
