@(title: String)(user: User)(trip: Trip)
@tripDetails(title)(user)(trip)("timeline"){
<div class="row">
	<div class="col-sm-4 col-sm-push-8">
		<div id="map" style="height: 300px;"></div>
	</div>
	<div class="col-sm-8 col-sm-pull-4">
		<div class="container">
			<div class="hr hr-double visible-xs visible-sm"></div>
			<ul class="list-inline">
				<a id="example" href="#" class="btn btn-sm btn-info"
					data-toggle="popover" title=""
					data-content="@trip.description"
					role="button"><i class="icon-info align-top"></i>Description</a>
				<a class="btn btn-success btn-sm"
					href="@routes.TripController.newDestinationView(trip.id)"> <i
					class="icon-plus align-top"></i> Add new destination
				</a>
				<a class="btn btn-default btn-sm pull-right"
					href="@routes.TripController.editTrip(trip.id)"> <i
					class="icon-edit align-top"></i> Edit trip
				</a>
			</ul>
			<div class="hr hr-double"></div>
		</div>
		<div class="timeline-container">
			<div class="timeline-items">
				@for(dest <- trip.destinations){
				<div class="timeline-item clearfix">
					<div class="timeline-info">
						<i class="timeline-indicator icon-calendar btn no-hover"></i>
					</div>
					<div class="widget-box transparent">
						<div class="widget-header widget-header-small">
							<h3 class="smaller">
								<a href="@routes.TripController.editDestination(dest.id)">
									@dest.location <small>@{dest.dateStart.format("yyyy-MM-dd")}
										- @{dest.dateEnd.format("yyyy-MM-dd")}</small>
								</a>
							</h3>
							<span class="widget-toolbar"> <a href="#"
								data-action="collapse"> <i class="icon-chevron-up"></i>
							</a>
							</span>
						</div>
						<div class="widget-body">
							<div class="widget-main">
								<ul class="list-unstyled spaced">
									@for(activity <- dest.activities){
									<li><i class="icon-map-marker"></i> <a
										href="@routes.TripController.editActivity(activity.id)"><strong>@activity.date
												@activity.description </strong> at <strong>@activity.location</strong></a></li>
									}
								</ul>
								<a class="btn btn-success btn-minier"
									href="@routes.TripController.newActivity(dest.id)"> <i
									class="icon-plus align-top"></i> Add activity
								</a>
							</div>
						</div>
					</div>
				</div>
				}
			</div>
			<!-- /.timeline-items -->
		</div>
		<!-- /.timeline-container -->
	</div>
</div>
<script type="text/javascript"
	src="https://maps.google.com/maps/api/js?sensor=false&amp;libraries=places""></script>
<script type="text/javascript"
	src="http://labs.mario.ec/jquery-gmap/jquery.gmap.js"></script>
<script type="text/javascript">
	jQuery(function($) {
		$('#map').gMap({markers:[
		                         @for(dest <- trip.destinations){
		                        	 {
				                			address: "@dest.location",
				                			html: "_address"
				                	},
		                        	 @for(activity <- dest.activities){
				                		{
				                			address: "@activity.location",
				                			html: "_address"
				                		},}}
		                	]});
		$('#example').popover();
	});
</script>
}
