@(title: String)(user: User)(phrase: String)(people: List[User])(trip:
Trip) @tripDetails(title)(user)(trip)("people"){
<h4>@people.size people found for phrase '@phrase':</h4>
<div class="media-list">
	@for(person <- people){
	<li class="list-group-item media"><a class="pull-left"
		href="@routes.Profile.myProfile(person.id)"> <img
			class="media-object" width="100" height="100"
			src="@routes.Profile.renderPhoto(person.profilePicture.id)" alt="...">
	</a>
		<div class="media-body">
			<a href="@routes.Profile.myProfile(person.id)"><h4
					class="media-heading">@person.firstName @person.lastName</h4></a>
			<p>@person.userName</p>
			<a href="@routes.TripController.inviteToTrip(trip.id, person.id)" class="btn btn-sm btn-default pull-rigth"> Invite </a>
		</div></li>}
	<!-- Modal -->
</div>
}
