@(title: String)(user: User)(trip: Trip)(invitations: List[TripInvitation])
@tripDetails(title)(user)(trip)("people"){
<div class="row">
	<form action="@routes.Profile.peopleSearch2(trip.id)"
		class="form-inline" role="search">
		<label class="col-sm-2 control-label">Invite more people:</label>
		<div class="form-group">
			<input type="text" name="phrase" class="form-control"
				placeholder="Search for people">
		</div>
		<button type="submit" class="btn btn-sm">
			<i class="icon-search"></i>
		</button>
	</form>
</div>
<div class="hr hr-double"></div>
<div class="row">
	<div class="profile-users clearfix">
		@for(friend <- trip.users){
		<div class="itemdiv memberdiv">
			<div class="inline position-relative">
				<div class="user">
					<a href="@routes.Profile.myProfile(friend.id)"> <img
						src="@routes.Profile.renderPhoto(friend.profilePicture.id)"
						alt="@friend.userName avatar" style="height: 64px;">
					</a>
				</div>
				<div class="body">
					<div class="name">
						<a href="@routes.Profile.myProfile(friend.id)"> @friend.userName </a>
					</div>
				</div>
			</div>
		</div>
		}
	</div>
</div>
@if(invitations.size != 0){
<div class="hr hr-double"></div>
<h4>People invited:</h4>
<div class="row">
	<div class="profile-users clearfix">
		@for(inv <- invitations){
		<div class="itemdiv memberdiv">
			<div class="inline position-relative">
				<div class="user">
					<a href="@routes.Profile.myProfile(inv.receiver.id)"> <img
						src="@routes.Profile.renderPhoto(inv.receiver.profilePicture.id)"
						alt="@inv.receiver.userName avatar" style="height: 64px;">
					</a>
				</div>
				<div class="body">
					<div class="name">
						<a href="#"> @inv.receiver.userName </a>
					</div>
				</div>
			</div>
		</div>
		}
	</div>
</div>}	}