@(title: String)(user: User)(trip: Trip)(flag: String)(content: Html) @main(title){@styles()
<link href="http://getbootstrap.com/examples/offcanvas/offcanvas.css"
	rel="stylesheet">
<style>
.datepicker {
	z-index: 1151 !important;
}

.pac-container {
	z-index: 2000 !important;
}
</style>
}{ @navbar(user)
<div class="container">
	<div class="row row-offcanvas row-offcanvas-left">
		<div class="col-xs-3 col-sm-2 sidebar-offcanvas" id="sidebar"
			role="navigation">
			<div class="affix" style="width: 150px;">
				<ul class="nav nav-tabs nav-stacked">
					<li @if(flag.equals("timeline")){class="active"}><a href="@routes.TripController.tripDetails(trip.id)"><b>Timeline</b><i
							class="glyphicon glyphicon-chevron-right pull-right"></i></a></li>
							<li @if(flag.equals("calendar")){class="active"}><a href="@routes.TripController.calendar(trip.id)"><b>Calendar</b><i
							class="glyphicon glyphicon-chevron-right pull-right"></i></a></li>
					<li @if(flag.equals("people")){class="active"}><a href="@routes.TripController.tripPeople(trip.id)"><b>People</b><i
							class="glyphicon glyphicon-chevron-right pull-right"></i></a></li>
					<li @if(flag.equals("matches")){class="active"}><a href="@routes.Application.findMatches(trip.id)"><b>Matches</b><i
							class="glyphicon glyphicon-chevron-right pull-right"></i></a></li>
				</ul>
			</div>
		</div>
		<!--/span-->
		<div class="col-xs-12 col-sm-10 page-content">
			<div class="page-header">
				<h1>
					<a href="@routes.Application.myTrips"> <i
						class="icon-chevron-left align-top"></i>
					</a> @trip.name
				</h1>
			</div>
			@content
		</div>
	</div>
</div>

<script
	src="http://192.69.216.111/themes/preview/ace/assets/js/ace.min.js"></script>
<script src="http://getbootstrap.com/examples/offcanvas/offcanvas.js"></script>
}
