@(title: String)(user: User)(myNextTrips: List[Trip])(friendsTrips: List[Trip])(recentTrips:
List[Trip]) @main(title){@styles()}{ @navbar(user)
<div class="container">
	<div class="page-content">
		<div class="row">
			<div class="page-header">
				<h1>
					My next trip <a class="btn  btn-light btn-sm"
						href="@routes.Application.myTrips()"> See all <i
						class="icon-double-angle-right"></i>
					</a>
				</h1>
			</div>
			@tripsList(myNextTrips)
			<div class="page-header">
				<h1>
					Recently created trips <a href="@routes.Application.trips" class="btn btn-light btn-sm"> See all
						<i class="icon-double-angle-right"></i>
					</a>
				</h1>
			</div>
			@tripsList(recentTrips)
			<!-- /.col -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.page-content -->
</div>
<!-- /.main-container-inner -->
}
