@(title: String)(user: User)(form: Form[Trip])(tripsActive: List[Trip])(tripsPast:
List[Trip]) @main(title){@styles()
}{ @navbar(user)
<div class="container">
	<div class="page-content">
		<div class="row">
			<div class="col-xs-12">
				<div class="page-header">
					<h1>
						My trips
						<button class="btn btn-success btn-sm" data-toggle="modal"
							data-target="#myModal">
							<i class="icon-plus align-top"></i> Add new trip
						</button>
					</h1>
					<!-- Modal -->
					<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
						aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"
										aria-hidden="true">&times;</button>
									<h4 class="modal-title" id="myModalLabel">New trip</h4>
								</div>
								@helper.form(routes.Application.newTrip) {

								@if(form.hasGlobalErrors) {
								<p class="text-error">@form.globalError.message</p>
								}
								<div class="modal-body">
									<div class="form-group">
										<label class="control-label">Trip name</label>
										<div class="controls">
											<input type="text" class="form-control" name="name">
										</div>
										<label class="control-label">Description</label>
										<div class="controls">
											<textarea class="form-control" name="description"></textarea>
										</div>
										<label class="control-label">Tags</label>
										<div class="controls">
											<input name="tagsy" type="text" class="form-control" data-role="tagsinput" />
										</div>
										<div class="control-group">
											<div class="radio">
												<label> <input type="radio" checked class="ace"
													name="visibility" value="public"> <span class="lbl">
														Public trip <small>Everyone can see it</small>
												</span>
												</label>
											</div>

											<div class="radio">
												<label> <input type="radio" class="ace"
													name="visibility" value="forFriends"> <span
													class="lbl"> Visible only for friends</span>
												</label>
											</div>

											<div class="radio">
												<label> <input type="radio" class="ace"
													name="visibility" value="private"> <span
													class="lbl"> Private trip <small>Visible
															only for people you invite to this trip</small>
												</span>
												</label>
											</div>
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default"
										data-dismiss="modal">Close</button>
									<button type="submit" class="btn btn-primary">Add</button>
								</div>
								}
							</div>
							<!-- /.modal-content -->
						</div>
						<!-- /.modal-dialog -->
					</div>
					<!-- /.modal -->
				</div>
				<div class="tabbable">
					<ul class="nav nav-tabs padding-18 tab-size-bigger" id="myTab">
						<li class="active"><a data-toggle="tab" href="#active">
								Active trips </a></li>

						<li><a data-toggle="tab" href="#past"> Past trips </a></li>
					</ul>

					<div class="tab-content no-border">
						<div id="active" class="tab-pane in active">
							@tripsList(tripsActive)
						</div>
						<div id="past" class="tab-pane">
							@tripsList(tripsPast)
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /.main-container-inner -->
}
