@(user: User)
<div class="navbar navbar-default navbar-fixed-top" id="navbar">
	<div class="navbar-container container" id="navbar-container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle pull-left visible-xs"
				data-toggle="offcanvas">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<button type="button" class="navbar-toggle pull-right"
				data-toggle="collapse" data-target="#navbar-collapse">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a href="#" class="navbar-brand"> <small> <i
					class="icon-briefcase"></i> Tripper
			</small>
			</a>
			<!-- /.brand -->
		</div>
		<div class="collapse navbar-collapse" role="navigation"
			id="navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="@routes.Home.index">Dashboard</a></li>
				<li><a href="@routes.Application.trips">Trips</a></li>
				<li><a href="@routes.Application.myTrips">My trips</a></li>
			</ul>
			<form action="@routes.Profile.peopleSearch()" class="navbar-form navbar-left" role="search">
				<div class="form-group">
					<input type="text" name="phrase" class="form-control"
						placeholder="Search for people">
				</div>
				<button type="submit" class="btn btn-sm">
					<i class="icon-search"></i>
				</button>
			</form>
			<ul class="nav navbar-nav navbar-right">
			<li><a id="nots" href="@routes.Home.notifications()"><i
						class="icon-bell"></i></a></li>
				<li><a id="inbox" href="@routes.Application.inbox"><i
						class="icon-envelope"></i></a></li>
				<li><a href="@routes.Profile.myProfile(user.id)">@user.userName</a></li>
				<li><a href="@routes.LoginRegistration.logout"><i class="icon-power-off"></i> Logout</a></li>
			</ul>
		</div>
	</div>
	<!-- /.container -->
</div>
<script src="http://twitter.github.io/typeahead.js/js/hogan-2.0.0.js"></script>
<script
	src="http://twitter.github.io/typeahead.js/releases/latest/typeahead.js"></script>
<script>
	$(function() {
		var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket
		var chatSocket = new WS(
				"@routes.Application.pushService(user.id).webSocketURL(request)")
		var receiveEvent = function(event) {
			var data = JSON.parse(event.data)
			if ($('#flag').length == 0) {
				// do something
				if(data.msg == 'msg'){
					$("#inbox").append("<span id='flag' class='badge badge-danger'>NEW</span>");
				}
				else{
					$("#nots").append("<span id='flag' class='badge badge-danger'>NEW</span>");
				}
				
			}
			console.log(data.msg)
		}
		chatSocket.onmessage = receiveEvent
	})
</script>