@(title: String)(user: User)(notifications: List[Notification])
@main(title){@styles()}{ @navbar(user)
<div class="container">
	<div class="page-content">
		<div class="row">
			<div class="page-header">
				<h1>Notifications</h1>
			</div>
			<div class="profile-feed row-fluid">
				<div class="span6">
					@for(n <- notifications){
					<div class="profile-activity clearfix">
						<div>
							<img class="pull-left" alt=""
								src="@routes.Profile.renderPhoto(n.sender.profilePicture.id)">
							<a class="user" href="@routes.Profile.myProfile(n.sender.id)">
								@n.sender.firstName @n.sender.lastName </a> has sent you
							@if(n.what.equals("friend")) {friend request} else {trip
							invitation to @n.trip_.name} <a class="btn btn-xs btn-default"
								href="@if(n.what.equals("friend")){@routes.Profile.confirmFriendship(n.sender.id)} else {@routes.TripController.confirmInvitation(n.trip_.id)}">
								Confirm </a> <a class="btn btn-xs btn-default" 
								href="@if(n.what.equals("friend")){@routes.Profile.denyFriendship(n.sender.id)} else {@routes.TripController.denyInvitation(n.trip_.id)}"> Not now </a>
							<div class="time">
								<i class="icon-time bigger-110"></i>
								@n.date.format("yyyy-MM-dd")
							</div>
						</div>
					</div>
					}
				</div>
				<!-- /span -->
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.page-content -->
</div>
<!-- /.main-container-inner -->
}
