@(people: List[User])
<div class="media-list">
	@for(person <- people){
	<li class="list-group-item media"><a class="pull-left"
		href="@routes.Profile.myProfile(person.id)"> <img
			class="media-object" width="100" height="100"
			src="@routes.Profile.renderPhoto(person.profilePicture.id)" alt="...">
	</a>
		<div class="media-body">
			<a href="@routes.Profile.myProfile(person.id)"><h4
					class="media-heading">Marek Baranowski @person.userName</h4></a> <small><cite
				title="San Francisco, USA">San Francisco, USA <i
					class="glyphicon glyphicon-map-marker"> </i></cite></small>
			<p>
				<i class="glyphicon glyphicon-envelope"></i>email@@example.com <br />
				<i class="glyphicon glyphicon-gift"></i>June 02, 1988
			</p>
			<p>
				<button data-toggle="modal" data-target="#myModal"
					class="btn btn-xs btn-default">
					<span class="glyphicon glyphicon-comment"></span> Message
				</button>
				<button data-toggle="modal" data-target="#myModal"
					class="btn btn-xs btn-default">
					<span class="glyphicon glyphicon-comment"></span> Add friend
				</button>
			</p>
		</div></li>}
</div>

