@(title: String)(user: User)(phrase: String)(people: List[User])
@main(title){@styles()}{ @navbar(user)
<div class="container">
	<div class="page-content">
		<div class="row">
			<div class="page-header">
				<h1>
					People search <small> @people.size results for '@phrase'
						phrase</small>
				</h1>
			</div>
			<div class="page-content">
				@peopleList(people)
			</div>
		</div>
	</div>
	<!-- /.page-content -->
</div>
<!-- /.main-container-inner -->
}
