<link
	href="http://192.69.216.111/themes/preview/ace/assets/css/bootstrap.min.css"
	rel="stylesheet" />
<link
	href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"
	rel="stylesheet">
<link rel="stylesheet"
	href="http://192.69.216.111/themes/preview/ace/assets/css/font-awesome.min.css" />
<!-- <link rel="stylesheet"
	href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" /> -->
<link rel="stylesheet"
	href="http://192.69.216.111/themes/preview/ace/assets/css/ace.min.css" />
<link rel="stylesheet"
	href="http://timschlechter.github.io/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" />