@(trips: List[Trip])
<div class="media-list">
	@for(trip <- trips){ 
  <li class="list-group-item media">
    <a class="pull-left" href="@routes.Profile.myProfile(trip.creator.id)">
      <img class="media-object" width="64" height="64" 
      src="@routes.Profile.renderPhoto(trip.creator.profilePicture.id)" alt="...">
      @if(trip.creator.userName.length > 10){@trip.creator.userName.substring(0, 8)...} else{@trip.creator.userName}
    </a>
    <div class="media-body">
      <a href="@routes.TripController.tripDetails(trip.id)"><h4 class="media-heading">@trip.name</h4></a>
      <ul class="list-inline">
						@for(dest <- trip.destinations){
						<li><b>@dest.location</b></li>}
					</ul>
					<p class="list-group-item-text text-muted">
					@if(trip.destinations.isEmpty()){No destinations} else {@trip.destinations.get(0).dateStart - @trip.getEndDate()} <span
						class="label label-sm label-info"></span>
				</p>
				<p class="list-group-item-text">@trip.users.size() people
					attenting</p>
				<p class="list-group-item-text">
					Tags: @for(tag <- trip.tags){<span class="label label-sm">@tag.name</span>
					}
				</p>
    </div>
  </li>}
</div>
