@(title: String)(user: User)(trips: List[Trip]) @main(title){@styles()
<link rel="stylesheet" href="assets/css/jquery-ui-1.10.3.full.min.css">
}{ @navbar(user)
<div class="container">
	<div class="page-content">
		<div class="page-header">
			<h1>Trips</h1>
		</div>
		<form action="@routes.Application.tripsPost" method="POST">
		<label class="control-label">Keywords <small>Like Mountains, hiking, sport, Alpes</small></label>
		<div class="controls">
			<input name="tagsy" type="text" class="form-control"
				data-role="tagsinput" />
		</div>
		<label class="control-label">Destinations</label>
		<div class="controls">
			<input name="tagsy" type="text" class="form-control"
				data-role="tagsinput" />
		</div>
		<button type="submit" class="btn btn-primary btn-sm">Search <i class="icon-search"></i></button>
		</form>
		<p></p>
		@tripsList(trips)
	</div>
	<!-- /.page-content -->
</div>
<!-- /.main-container-inner -->
}
