@(title: String)(user: User) @main(title){@styles()}{ @navbar(user)
<link rel="stylesheet"
	href="http://eternicode.github.io/bootstrap-datepicker/bootstrap-datepicker/css/datepicker.css">
<link rel="stylesheet"
	href="http://192.69.216.111/themes/preview/ace/assets/css/bootstrap-timepicker.css">
<div class="container">
	<div class="page-content">
		<div class="row">
			<div class="col-xs-12">
				<div class="page-header">
					<h1>User profile</h1>
				</div>
				<div class="page-content">
					<div class="col-sm-5">
						<form action="@routes.Profile.updateProfile" method="POST"
							class="form-horizontal">
							<div class="form-group">
								<label class="control-label">Username</label>
								<div class="controls">
									<input type="text" class="form-control" value=@user.userName
										name="userName" required>
								</div>
								<label class="control-label">First name</label>
								<div class="controls">
									<input class="form-control" name="firstName"
										value=@user.firstName></input>
								</div>
								<label class="control-label">Last name</label>
								<div class="controls">
									<input class="form-control" name="lastName"
										value=@user.lastName></input>
								</div>
								<label class="control-label">Hometown</label>
								<div class="controls">
									<input id="geocomplete" type="text" class="form-control"
										name="hometown" autocomplete="off" />
								</div>
								<label class="control-label">Telephone</label>
								<div class="controls">
									<input class="form-control" name="phone" value=@user.phone></input>
								</div>

								<label class="control-label">Birth date</label>
								<div class="controls">
									<div class="input-group">
										<input name="dateOfBirth" class="form-control date-picker"
											id="id-date-picker-1" type="text"
											data-date-format="dd-mm-yyyy" required> <span
											class="input-group-addon"> <i
											class="icon-calendar bigger-110"></i>
										</span>
									</div>
								</div>

								<label class="control-label">Gender</label>
								<div class="control-group">
									<div class="radio">
										<label> <input type="radio" class="ace" name="gender"
											value="Male" @if(user.gender !=null&&user.gender.equals("Male")){checked}>
											<span class="lbl"> Male </span>
										</label>
									</div>

									<div class="radio">
										<label> <input type="radio" class="ace" name="gender"
											value="Female" @if(user.gender !=null&&user.gender.equals("Female")){checked}>
											<span class="lbl"> Female</span>
										</label>
									</div>
								</div>
								<label class="control-label">About</label>
								<div class="controls">
									<textarea class="form-control" name="about" value=@user.about></textarea>
								</div>
							</div>
							<a class="btn btn-default"
								href="@routes.Profile.myProfile(user.id)">Back</a>
							<button type="submit" class="btn btn-primary">Update</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /.col -->
<script type="text/javascript"
	src="https://maps.google.com/maps/api/js?sensor=false&amp;libraries=places""></script>
<script src="http://ubilabs.github.io/geocomplete/jquery.geocomplete.js"></script>
<script type="text/javascript">
	jQuery(function($) {
		$('.date-picker').datepicker({
			format : "yyyy-mm-dd",
			autoclose : true
		});
		$("#geocomplete").geocomplete();
	});
</script>
}
