@(title: String)(user: User)(viewed: User)(content: Html) @main(title){@styles()}{
@navbar(user)
<div class="container">
	<div class="page-content">
		<div class="row">
			<div class="col-xs-12">
				<div class="page-header">
					<h1>User profile</h1>
				</div>
				<div class="user-profile">
						<ul class="nav nav-tabs padding-18">
							<li><a href="@routes.Profile.myProfile(viewed.id)"> <i
									class="green icon-user bigger-120"></i> Profile
							</a></li>

							<li><a href="@routes.Profile.userTrips(viewed.id)"> <i
									class="orange icon-briefcase bigger-120"></i> Trips
							</a></li>

							<li><a href="@routes.Profile.friends(viewed.id)"> <i
									class="blue icon-group bigger-120"></i> Friends
							</a></li>

							<li><a href="@routes.Profile.pictures(viewed.id)"> <i
									class="pink icon-picture bigger-120"></i> Pictures
							</a></li>
						</ul>

						<div class="page-content no-border padding-24">@content</div>
				</div>
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.page-content -->
</div>
<!-- /.main-container-inner -->
}
