@(title: String)(user: User)(loggedIn: User)(pictures: List[Picture])
@profileMain(title)(loggedIn)(user){
<link rel="stylesheet"
	href="http://brutaldesign.github.io/swipebox/source/swipebox.css">
@if(loggedIn.id == user.id){ @helper.form(action =
routes.Profile.upload, 'enctype -> "multipart/form-data") {
<input type="file" name="picture">
<p>
	<input type="submit">
</p>
} }
<ul class="ace-thumbnails">
	@for(picture <- pictures){
	<li><a href="@routes.Profile.renderPhoto(picture.id)" title="Photo Title"
		rel="gallery" class="swipebox"> <img alt="150x150" width="150"
			height="150" src="@routes.Profile.renderPhoto(picture.id)">
	</a></li>}
</ul>
<script
	src="http://brutaldesign.github.io/swipebox/source/jquery.swipebox.js"></script>
<script type="text/javascript">
	jQuery(function($) {
		$(".swipebox").swipebox();
	})
</script>
}
