@(title: String)(user: User)(loggedIn: User)(friends: List[User])
@profileMain(title)(loggedIn)(user){
<div class="profile-users clearfix">
@for(friend <- friends){
	<div class="itemdiv memberdiv">
		<div class="inline position-relative">
			<div class="user">
				<a href="@routes.Profile.myProfile(friend.id)"> 
				<img src="@routes.Profile.renderPhoto(friend.profilePicture.id)"
					alt="@friend.userName avatar" style="height: 64px;">
				</a>
			</div>
			<div class="body">
				<div class="name">
					<a href="#">
						@friend.userName
					</a>
				</div>
			</div>
		</div>
	</div>}
</div>
}
