@(title: String)(user: User)(loggedIn: User)(friendshipStatus:
String)(pictures: List[Picture])(messageForm: Form[Message])@profileMain(title)(loggedIn)(user){
<link rel="stylesheet" type="text/css"
	href="http://rvera.github.io/image-picker/image-picker/image-picker.css">
<div class="row">
	<div class="col-xs-12 col-sm-3 center">

		<span class="profile-picture"> <img
			class="editable img-responsive" alt="@user.userName" width="150" @if(user.profilePicture !=null){src="@routes.Profile.renderPhoto(user.profilePicture.id)"}>
		</span>
		<div class="space space-4"></div>
		@if(user.id != loggedIn.id){ @if(friendshipStatus.equals("Not friends")){ <a href="@routes.Profile.sendInvitation(user.id)"
			class="btn btn-sm btn-block btn-primary"> <i
			class="icon-plus-sign bigger-120"></i> <span class="bigger-110">Add
				friend</span>
		</a> } @if(friendshipStatus.equals("Friends")){
		<button href="@routes.Profile.sendInvitation(user.id)"
			class="btn btn-sm btn-block btn-primary">
			<i class="icon-check bigger-120"></i> <span class="bigger-110">Friends</span>
		</button>
		} @if(friendshipStatus.equals("Confirm friendship")){ <a
			href="@routes.Profile.confirmFriendship(user.id)"
			class="btn btn-sm btn-block btn-primary"> <i
			class="icon-plus-sign bigger-120"></i> <span class="bigger-110">@friendshipStatus</span>
		</a> } @if(friendshipStatus.equals("Waiting for friendship confirmation")){
		<button href="#" class="btn btn-sm btn-block btn-primary">
			<i class="icon-plus-sign bigger-120"></i> <span class="bigger-110">@friendshipStatus</span>
		</button>
		}
		<button data-toggle="modal" data-target="#myModal"
			class="btn btn-sm btn-block btn-primary">
			<i class="icon-plus-sign bigger-120"></i> <span class="bigger-110">Send
				Message</span>
		</button>
		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">Send message</h4>
					</div>
					@helper.form(routes.Profile.sendMessage("profile")) {

					@if(messageForm.hasGlobalErrors) {
					<p class="text-error">@messageForm.globalError.message</p>
					}
					<div class="modal-body">
						<div class="form-group">
							<label class="control-label">Recipent</label>
							<div class="controls">
								<span class="input-icon"> <input type="email"
									id="form-field-recipient" value="@user.email"
									placeholder="Recipient(s)"> <i class="icon-user"></i>
								</span> <input type="hidden" name="receiverId" value="@user.id" />
							</div>
							<label class="control-label">Message</label>
							<div class="controls">
								<textarea class="form-control" name="message"></textarea>
							</div>

						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Send</button>
				</div>
				}
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
		<!-- /.modal -->
		}else{
		<button class="btn btn-sm btn-block btn-primary" data-toggle="modal"
			data-target="#destinationFormModal">
			<i class="icon-plus-sign bigger-120"></i> <span class="bigger-110">Change
				profile picture</span>
		</button>
		}
		<!-- Modal -->
		<div class="modal fade" id="destinationFormModal" tabindex="-1"
			role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">New destination</h4>
					</div>
					<form action="@routes.Profile.changeProfilePic(user.id)" method="POST">
					<div class="modal-body">				
						<select name="picId" class="image-picker show-html">
							<option value=""></option>
							@for(pic <- pictures){
							<option data-img-src="@routes.Profile.renderPhoto(pic.id)" value="@pic.id"></option>}
						</select>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary">Save
							changes</button>
					</div>
					</form>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->
	</div>


	<div class="col-xs-12 col-sm-9">
		<h4 class="blue">
			<span class="middle">@user.userName</span> @if(user.id == loggedIn.id){ <a
				class="btn btn-default btn-sm pull-right"
				href="@routes.Profile.editProfile(user.id)"> <i
				class="icon-edit align-top"></i> Edit Profile
			</a>}
		</h4>

		<div class="profile-user-info">
			<div class="profile-info-row">
				<div class="profile-info-name">First name</div>

				<div class="profile-info-value">
					<span>@user.firstName</span>
				</div>
			</div>

			<div class="profile-info-row">
				<div class="profile-info-name">Last name</div>

				<div class="profile-info-value">
					<span>@user.lastName</span>
				</div>
			</div>

			<div class="profile-info-row">
				<div class="profile-info-name">Location</div>

				<div class="profile-info-value">
					<i class="icon-map-marker light-orange bigger-110"></i> <span>@user.hometown</span>
				</div>
			</div>

			<div class="profile-info-row">
				<div class="profile-info-name">Gender</div>

				<div class="profile-info-value">
					<span>@user.gender</span>
				</div>
			</div>

			<div class="profile-info-row">
				<div class="profile-info-name">Telephone</div>

				<div class="profile-info-value">
					<span>@user.phone</span>
				</div>
			</div>
			
			<div class="profile-info-row">
				<div class="profile-info-name">Birth date</div>

				<div class="profile-info-value">
					<span>@user.dateOfBirth</span>
				</div>
			</div>

		</div>

		<div class="hr hr-8 dotted"></div>
	</div>
</div>


<div class="space-20"></div>

<div class="row">
	<div class="col-xs-12 col-sm-6">
		<div class="widget-box transparent">
			<div class="widget-header widget-header-small">
				<h4 class="smaller">
					<i class="icon-check bigger-110"></i> Little About Me
				</h4>
			</div>

			<div class="widget-body">
				<div class="widget-main">@user.about</div>
			</div>
		</div>
	</div>
</div>
<script
	src="http://rvera.github.io/image-picker/image-picker/image-picker.min.js"
	type="text/javascript"></script>
<script type="text/javascript">
	jQuery(function($) {
		$("select").imagepicker()
	})
</script>
}
